<br>
<div class=" text-center panel panel-default">
  <div class="panel-body">
    <b><marquee behavior="scroll" direction="down" scrollamount="15">
      <font size=20 face="arial">BLOG</font>
      <font size=20 face="times new roman">BLOG</font>
      <font size=20 face="helvetica">BLOG</font>
      <font size=20 face="courier">BLOG</font>
      <font size=20 face="verdana">BLOG</font>
      <font size=20 face="georgia">BLOG</font>
      <font size=20 face="palatino">BLOG</font>
      <font size=20 face="garamond">BLOG</font>
      <font size=20 face="arial">BLOG</font>
      <font size=20 face="times new roman">BLOG</font>
      <font size=20 face="helvetica">BLOG</font>
    </marquee></b>
  </div>
</div>
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h4 class="text-center"><font size=6>Login</font></h4>
      <hr>
      <div *ngIf="isError" class="alert alert-danger text-center
                                col-xs-6 col-xs-offset-3
                                col-sm-6 col-sm-offset-3
                                col-md-6 col-md-offset-3
                                col-lg-6 col-lg-offset-3">
        <span class="glyphicon glyphicon-alert"></span>{{ errMsg }}</div>
      <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3
                                col-sm-6 col-sm-offset-3
                                col-md-6 col-md-offset-3
                                col-lg-6 col-lg-offset-3">
          Username
          <input type="text" class="form-control" #uname placeholder="Username">
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3
                                col-sm-6 col-sm-offset-3
                                col-md-6 col-md-offset-3
                                col-lg-6 col-lg-offset-3">
          Password
          <input type="password" class="form-control" #pass placeholder="Password">
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <a class="text-center" routerLink="/forgot-password">Forgot Password</a>
</div>
<br>

<p class="text-center">
  <button class="btn btn-default" (click)="onLogin(uname.value, pass.value)">Login</button>
</p>