<div id="container">
	<app-navbar></app-navbar>
</div>
<br>
<div class="center">
	Showing {{posts.length}} result(s)
</div>
<br>
<!--display posts -->
<div *ngIf="posts.length == 0" class="center">
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1>No data is available</h1>
</div>
<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1
			col-xs-10 col-sm-10 col-md-10 col-lg-10">

	<div id="content" class="panel panel-default content" *ngFor="let post of posts ">

		<div class="panel-heading">
			<div>
				<button class="btn btn-default" style="float: right" (click)="onGoToEditPage(post)">
					<i class="material-icons">
						info
					</i>
				</button>
			</div>
			<h4>
				<b>{{post.author}}</b>
			</h4>

		</div>
		<div class="panel-body justify">

			<h2>
				<b>{{post.title}}</b>
			</h2>
			<div>
				<i>{{post.subtitle}}</i>
			</div>
			<div class="justify">
				<b>{{post.body}}</b>
			</div>
		</div>
		<div class="panel-footer">
				<div class="right"> Category:
						{{post.category}}&nbsp;&nbsp;
						<i class="material-icons" *ngIf="post.category == 'Animals'">
							pets
						</i>
						<i class="material-icons" *ngIf="post.category == 'Fitness'">
							fitness_center
						</i>
						<i class="material-icons" *ngIf="post.category == 'Food'">
							fastfood
						</i>
						<i class="material-icons" *ngIf="post.category == 'Life'">
							nature_people
						</i>
						<i class="material-icons" *ngIf="post.category == 'Movie'">
							movie
						</i>
						<i class="material-icons" *ngIf="post.category == 'Music'">
							music_note
						</i>
						
					</div>
			<div class="right">Date Created: {{post.date | date}}</div>
		</div>
	</div>
</div>